| Hai dimenticato la password?
= '\n'
= '\n'
| Abbiamo ricevuto una richiesta per rigenerare la password per  (#{username}).
= '\n'
= '\n'
|  Per rigenerare la password clicca sul link di attivazione 
| #{resetLink}
= '\n'
= '\n'
| Grazie,
| #{projectName}
