h3 Hai dimenticato la password?
p
  | Abbiamo ricevuto una richiesta per rigenerare la password per (#{username}).
p
  | Per rigenerare la password clicca sul link di attivazione:
p
  a(href='#{resetLink}') #{resetLink}
p
  | Grazie,
  br
  | #{projectName}
