extends ../../layouts/default

block head
  title Entra in #{projectName}

block feet
  script(src='/views/login/index.min.js?#{cacheBreaker}')

block body
  div.row
    div.col-sm-6
      div.page-header
        h1 Entra
      div#login
    div.col-sm-6.special
      div.page-header
        h1 &nbsp;
      img.pull-left.img-responsive.postImg.img-thumbnail.margin10(src='/media/pie-chart-2.jpg',style="width:100%") 

  script(type='text/template', id='tmpl-login')
      form
        div
        div.alerts
          |<% _.each(errors, function(err) { %>
          div.alert.alert-danger.alert-dismissable
            button.close(type='button', data-dismiss='alert') &times;
            |<%- err %>
          |<% }); %>
        div.form-group(class!='<%- errfor.username ? "has-error" : "" %>')
          label Nome Utente o Email:
          input.form-control(type='text', name='username', value!='<%= username %>')
          span.help-block <%- errfor.username %>
        div.form-group(class!='<%- errfor.password ? "has-error" : "" %>')
          label Password:
          input.form-control(type='password', name='password', value!='<%= password %>')
          span.help-block <%- errfor.password %>
        div.form-actions
          button.btn.btn-primary.btn-login(type='button') Entra
          |&nbsp;
          a.btn.btn-link(href='/login/forgot/') Hai dimenticato la tua password?
