.login{
 margin-left: auto;
  margin-right: auto;
  width: 8em;
  background-image: url("../media/pie-chart-2.jpg");
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;
}

.logo
{
  margin-left: auto;
  margin-right: auto;
  width: 105px;
  height: 320px;
  background-image: url("../media/CREA-sanita-logo.jpg");
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50); 
  -moz-opacity: 0.5;
  -khtml-opacity: 0.5;
  opacity: 0.5;

}



.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../media/CREA-sanita-logo-blu.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    opacity: 0.1;
    filter:alpha(opacity=10);
    z-index: -1000;
}